* {
  margin: 0;
  padding: 0;
  }

body {
  background-color: #F6E3D4
}
nav a {
  display: inline-block;
  margin: 1em;
  color: #F6E3D4;
  font-size: 30px;
}
button {
  border: none;
  padding: 5px 10px;
  /* margin: 3px; */
  margin: auto;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: auto;
  border-radius: 10px;
  transition-duration: 0.4s;
}
/* If we wanted all of images to be the same size, we could set a size here by manually setting width and height, if not to ensure its original resolution, we can also remove it here.  */
img {
  float: left;
  width:  1000px;
  height: 665px;
  object-fit: cover;
  border-radius: 9px;
}
/* Navbar Styling */
.header {
  display: flex;
  min-width: 1483px;
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #64ABE3;
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	border-radius: 5px;
}

.logo {
	font-family: 'Montserrat', sans-serif;
  align-self: center;
  color: #F6E3D4;
  font-size: 45px;
}

.nav {
  align-self: center;
  margin-left: auto;
  font-family: 'Montserrat', sans-serif;
  text-decoration-color: violet;
}

.navImage {
  align-self: center;
  width: auto;
  height: 100px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-list {
  display: none;
  align-self: auto;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}

.dropdown:hover .dropdown-list {
  display: flex;
  text-align: center;
  flex-direction: column;
}
/* Selectors for our actual Beaches component */

#beachContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin-top: 2em;
  min-width: 1455px;
}

#beachCenter {
  background-color: #BD9362;
  border-radius: 9px;
  padding: 50px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
}

#beachImage {
  margin:auto
}

/* button selectors */

#nextButton {
  background-color: green;
  padding: 15px 60px;
  margin-bottom: 50px;
}

#nextButton:hover {
  background-color: rgb(3, 201, 3);
  color: white;
}
#prevButton {
  background-color: red;
  padding: 15px 60px;
  margin-bottom: 50px;
}

#prevButton:hover {
  background-color: rgb(160, 4, 4);
  color: white;
}
